/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

.env
.env.test

.angular/cache/